services:
#sdfasdsafasfdsafsad
  tsdproxy:
    image: almeidapaulopt/tsdproxy:2
    secrets:
      - tsclientId
      - tsclientSecret
    environment:
      # Tell TSDProxy where to find the secrets (mounted by Docker)
      - TSDCLIENT_ID_FILE=/run/secrets/tsclientId
      - TSDCLIENT_SECRET_FILE=/run/secrets/tsclientSecret
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - datadir:/data
      - ../config:/config:ro
    restart: unless-stopped
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      replicas: 1
volumes:
  datadir:
secrets:
  tsclientId:
    external: true
  tsclientSecret:
    external: true